.navbar-expand-sm {
    justify-content: space-between;
}
.margin-right{
    margin-right: 10px;
}

.btn-outline-primary {
    color: #ffff;
    border-color: #ffff;
}
.navbar-nav{
    background: none;
}