<div class="container-fluid">
    <div class="row padding-top">
        <div class="col-sm-10">
            <h4>{{fromCurrencyHeader}}</h4>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary float-right" (click)="navigateToCurrencyDetails()">Back To Home</button>
        </div>
        
    </div>
    <div class="row converter-container">
        <div class="col-sm-12 convertor-form">
            <app-currency-converter-form></app-currency-converter-form>
        </div>
        <div class="col-sm-12">
            <app-historical-data [toCurrencyHeader]="toCurrencyHeader" [historicalData]="historicalData"
            [fromCurrencyHeader]="fromCurrency"></app-historical-data>
        </div>
    </div>
</div>